
<% if current_user %>
    <% heading = "Welcome, #{current_user.user_name}!" %>
<% else %>
    <%heading = "Welcome!" %>

<% end %>
<h1> <%= heading %> </h1>

<div> This is a space where users can help the community by creating and joining projects!</div><br>

<div> We're glad to see you! </div>
<br>
<%= render 'communities/errors' %>
<% if current_user %>
    <%= link_to "Log Out", logout_path, method: "delete", :class => "btn-primary btn-sm" %>
<% else %>
    <%= link_to 'Sign up', signup_path, :class => "btn-primary btn-sm" %>
    <%= link_to 'Log in', login_path, :class => "btn-primary btn-sm" %>
<% end %>