<h1>
<%= "Projects: #{flash[:status]}" %>
</h1>


<%= form_tag '', :method => :get do %>

   <%= select_tag "status", options_for_select(@status)%>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= button_tag link_to "All Projects", projects_path%><ul>

<% @projects.each do |p| %>
   <li> <%= link_to p.name, p %></li>
<% end %>
</ul>
<%= button_tag link_to "Create a New Project", new_project_path %>