
<%= form_with model: @project do |f| %>
    Project name: <%= f.text_field :name %><br>
    Description: <%= f.text_field :description %><br>
    Goal: <%= f.number_field :goal %><br>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    Communities: <%= f.collection_check_boxes(:community_ids, Community.all, :id, :name) do |b| %><br>
                            <label class="container">
                            <%= b.check_box %><span class="checkmark"></span>
                            <label class="check_label"><%= b.label %></label></label>
                    <%end%>
                    <br>
    <%= f.hidden_field :status, :value => "Started" %>
    <br>
    <%= render 'communities/errors' %>
    <%= f.submit "Create Project", :class => "btn-primary btn-sm" %>
    <%end%>
