
    <h1><%= @project.name %></h1>
    <p><%= @project.description %></p>

    Status: <%= @project.status %><br><br>
    
    Communities:
    <ul>
    <% @project.communities.each do |community| %>
        <li><%= link_to community.name, community %></li>
    <% end %>
    </ul>
    <%= button_tag link_to "Create a New Community", new_community_path %>
    <%= button_tag link_to "My Creator", user_path(@project.user) %>
