<h2>  Edit Projects in this Community </h2>

<%= render 'communities/errors' %>

<%= form_with model: @community do |form| %>
    Projects: <%= form.collection_check_boxes(:project_ids, Project.all, :id, :name) do |b| %><br>
                            <span>
                                <%= b.check_box + "  " + b.text%>
                            </span>
                    <%end%><br>
    <%= form.submit "Edit Community", :class => "btn-primary btn-sm" %>
<% end %>

