<h2> Create a New Community </h2>

<%= render 'communities/errors' %>

<%= form_with model: @community do |form| %>
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
    <br> <br>
    Projects: <%= form.collection_check_boxes(:project_ids, Project.all, :id, :name) do |b| %><br>
                                 <label class="container">
                                <%= b.check_box %><span class="checkmark"></span>
                                <label class="check_label"><%= b.label %></label></label>
                    <%end%>
                    <br>
    <%= form.submit "Create Community", :class => "btn-primary btn-sm" %>
<% end %>
