<h2> Create a New Community </h2>

<%= render 'communities/errors' %>

<%= form_with model: @community do |form| %>
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
    <br> <br>
    <%= form.submit %>
<% end %>