<h2> Create a New Community </h2>

<%= render 'communities/errors' %>

<%= form_with model: @community do |form| %>
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
    <br> <br>
    Projects: <%= collection_check_boxes :project, :project_id, Project.all, :id, :name, :item_wrapper_class => 'checkbox_container' %><br>
    <br> <br>
    <%= form.submit "Create Community", :class => "btn-primary btn-sm" %>
<% end %>